@font-face {
  font-family: "iconfont"; /* Project id 1973841 */
  src: url('//at.alicdn.com/t/font_1973841_kw44t1kdpa.woff2?t=1626856246544') format('woff2'),
       url('//at.alicdn.com/t/font_1973841_kw44t1kdpa.woff?t=1626856246544') format('woff'),
       url('//at.alicdn.com/t/font_1973841_kw44t1kdpa.ttf?t=1626856246544') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lhddrili:before {
  content: "\e602";
}

.lhddyuyuedingdan:before {
  content: "\e8a2";
}

.lhddshijian:before {
  content: "\e8a9";
}

.lhddzhengque:before {
  content: "\e8ad";
}

.lhddgantanhaozhong:before {
  content: "\e8e5";
}

.lhddsousuo:before {
  content: "\e86e";
}

.lhddroundaddlight:before {
  content: "\e7a7";
}

.lhddfriend_add_light:before {
  content: "\e7de";
}

.lhddprofile_light:before {
  content: "\e7dd";
}

.lhddxiugai:before {
  content: "\e8cf";
}

.lhddgantanhao:before {
  content: "\e8a5";
}

.lhddbangzhu:before {
  content: "\e8a3";
}

.lhddyouji:before {
  content: "\e8ac";
}

.lhddright1:before {
  content: "\e721";
}

.lhddfemale:before {
  content: "\e8c7";
}

.lhddcart:before {
  content: "\e6af";
}

.lhddmale:before {
  content: "\e735";
}

.lhddunfold:before {
  content: "\e661";
}

.lhddfold:before {
  content: "\e6de";
}

.lhddback:before {
  content: "\e679";
}

.lhddright:before {
  content: "\e6a3";
}

.lhddchangyongxinxi:before {
  content: "\e886";
}

.lhddguanbijiantou:before {
  content: "\e86d";
}

.lhdddingdan-copy:before {
  content: "\e8c8";
}

.lhdddingdan:before {
  content: "\e897";
}

.lhddwode:before {
  content: "\e8a0";
}

.lhddbiaodankongjiandanxuan:before {
  content: "\e8c5";
}

.lhddwode-copy:before {
  content: "\e8c6";
}
